/* Navbar.module.scss */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 0 20px;
  margin: 0 -2rem;
  transition: background-color 0.3s ease;
  z-index: 1000;

  & img {
    height: 45px;
    width: 100%;
  }
}

.logo {
  img {
    height: 110px;
    width: 110px;
  }
}

.menu {
  display: flex;
  gap: 20px;

  a {
    color: black;
    cursor: pointer;
    text-decoration: none;
  }
}

.social {
  display: flex;
  gap: 15px;
  font-size: 20px;

  a {
    color: black;

    .anticon {
      font-size: 32px;
      color: black;
      cursor: pointer;
    }
  }
}

.mobile {
  display: none;
}

.drawerSocial {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  font-size: 20px;

  a {
    color: #fff;
  }

  .ant-icon {
    fill: #fff;
  }
}

@media (max-width: 768px) {
  .menu, .social {
    display: none;
  }

  .mobile {
    display: block;
    & .ant-btn {
      color: black !important;
      border-color: #000000 !important;
    }
  }
}
