.root {
  :global {
    .ant-btn {
      border-color: #ffffff;
      border-radius: 50px;
      color: #ffffff;
      text-transform: uppercase;

      &:hover {
        background-color: #424242;
        border-color: #424242;
      }
    }

    .ant-input {
      border-radius: 50px;
    }
  }
}

.imageBackground {
  width: 100%;
  z-index: 1;
  height: 100%;
  left: 0;
  top: 0;
  opacity: .9;
  background-color: transparent;
  transition: background .3s, border-radius .3s, opacity .3s;
  position: absolute;
  background-image: linear-gradient(90deg, #151112 28%, #15111200 100%);
}

.contactInfo {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1100;
  transition: opacity 0.3s ease;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}

.banner {
  position: relative;
  width: 100vw;
  margin: 0 -2rem;
}

.bannerImage {
  object-fit: cover;
  width: 100%;
  width: 100vw;

}

.bannerImage2 {
  object-fit: cover;
  width: 100%;
  width: 100vw;

}
